@use 'variables' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-mono;
  line-height: $line-height-base;
  font-size: $font-size-base;
  color: $color-black;
  background-color: $color-white;
}

* {
  box-sizing: border-box;
}

a {
  color: $color-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}
