@use 'variables' as *;
@use 'mixins' as *;

.container {
  min-height: 100vh;
  padding: 0 $spacing-sm;
  @include flex-column-center;
  justify-content: center;
}

.description {
  text-align: center;
  line-height: 1.6;
  font-size: $font-size-md;
}
