@use 'variables' as *;
@use 'mixins' as *;

.heading2Xl {
  @include heading-2xl;
}

.headingXl {
  @include heading-xl;
}

.headingLg {
  @include heading-lg;
}

.headingMd {
  @include heading-md;
}

.borderCircle {
  @include border-circle;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: $color-grey;
}
