.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.loginBtn {
  font-family: 'fredoka';
  width: 10em;
  font-size: 1em;
  background-color: var(--burgundy);
  color: var(--yellow);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.5em;
}

.logo {
  font-size: 4em;
  font-weight: 500;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.icon {
  height: 1em;
}