@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.container {
  max-width: 36rem;
  padding: 0 $spacing-md;
  margin: $spacing-2xl auto $spacing-2xl * 2;
}

.header {
  @include flex-column-center;
  margin-bottom: $spacing-lg;
}

.profileLink {
  @include flex-column-center;
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
