@use '../styles/variables' as *;

.nav {
  display: flex;
  justify-content: center;
  gap: $spacing-lg;
  margin-bottom: $spacing-xl;
  border-bottom: 1px solid $color-grey-border;
  padding-bottom: $spacing-md;
}

.tab {
  padding: $spacing-sm $spacing-md;
  color: $color-grey-light;
  text-decoration: none;
  font-size: $font-size-md;
  border-bottom: 2px solid transparent;
  transition: color $transition-fast, border-color $transition-fast;

  &:hover {
    color: $color-grey;
    text-decoration: none;
  }

  &.active {
    color: $color-black;
    border-bottom-color: $color-black;
  }
}
