@use '../styles/variables' as *;

.tag {
  display: inline-flex;
  align-items: center;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  background-color: $color-grey-border;
  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
  color: $color-grey;
  transition: background-color $transition-fast;

  &:hover {
    background-color: darken($color-grey-border, 5%);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;

  svg {
    width: 100%;
    height: 100%;
  }
}
